*{              /*reset css*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    height: 2000px;
    scroll-behavior: smooth;  
    font-family: Arial, Helvetica, sans-serif;
}