@media (min-width: 1024px){     /*PC*/
    #headerimp #header{
        top: 0;
        width: 100%;
        height: 46px ;
        background-color: rgb(28, 1, 52);
        position: fixed !important;
        z-index: 1;
    }
    #header li{
        display: block;
        float: left;    
        list-style-type: none;
        text-transform: uppercase;
    }
    #header li a{
        display: inline-block;
        clear: both;
        padding: 11.4px 12px;
        text-decoration: none;
        font-size: 20px;
        color: #fff;
    }
    #header .Xomha_menu{
        color: rgb(228, 82, 165);
        padding: 5px 24px;
    }
    #header .Xomha_menu::first-letter{
        text-transform: none !important;
        color: rgb(232, 64, 64);
        display: block;
        content: "";
        font-size: 32px;
    }
    #header li a:hover{
        background-color: violet;
        color: #5e5e5e;
    }
    #header .ti-search{
        font-size: 24px;
        position: absolute;
        right: 0 ;
        color: #fff;
        padding: 11px;
        cursor: pointer;
    }
    #header .ti-search:hover{
        background-color: violet;
        color: #5e5e5e;
    }
    #header .menu_button{
        display: none;
    }
    #header h4{
        display: none;
    }
    #subnavg{
        margin-top: 46px;
        border-top: 1px solid #cc1fc1;
        display: block;
        width: 100%;
        height: 36px;
        background-color: rgb(28, 1, 52);
    }
    #subnavg>a{
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        padding: 4px;
        position: absolute;
        border-radius: 16px;
        background-color: #5e5e5e;
        margin: 6px 0 0 24px;
    }
    #subnavg>a:hover{
        background-color: #fff;
        color: #5e5e5e;
    }
    #subnavg li{
        display: inline-block;
        list-style-type: none;
        color: #fff;
        padding: 8px;
    }
    #subnavg li:first-child{
        margin-left: 72px;
    }
}
@media (min-width: 740px) and (max-width: 1023px){      /*Tablet*/
    #header{
        top: 0;
        width: 100%;
        height: 46px ;
        background-color: rgb(28, 1, 52);
        position: fixed;
        z-index: 1;
    }
    #header li{
        display: block;
        float: left;    
        list-style-type: none;
        text-transform: uppercase;
    }
    #header li a{
        display: inline-block;
        clear: both;
        padding: 13.8px 8px;
        text-decoration: none;
        font-size: 16px;
        color: #fff;
    }
    #header .Xomha_menu{
        color: rgb(228, 82, 165);
        padding: 5px 12px !important;
    }
    #header .Xomha_menu::first-letter{
        text-transform: none !important;
        color: rgb(232, 64, 64);
        display: block;
        content: "";
        font-size: 32px;
    }
    #header li a:hover{
        background-color: violet;
    }
    #header .ti-search{
        font-size: 24px;
        position: absolute;
        right: 0 ;
        color: #fff;
        padding: 11px;
        cursor: pointer;
    }
    #header .ti-search:hover{
        background-color: violet;
    }
    #header .menu_button{
        display: none;
    }
    #header h4{
        display: none;
    }
    #subnavg{
        margin-top: 46px;
        border-top: 1px solid #cc1fc1;
        display: block;
        width: 100%;
        height: 36px;
        background-color: rgb(28, 1, 52);
    }
    #subnavg>a{
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        padding: 4px;
        position: absolute;
        border-radius: 16px;
        background-color: #5e5e5e;
        margin: 6px 0 0 24px;
    }
    #subnavg>a:hover{
        background-color: #fff;
        color: #5e5e5e;
    }
    #subnavg li{
        display: inline-block;
        list-style-type: none;
        color: #fff;
        padding: 8px;
    }
    #subnavg li:first-child{
        margin-left: 72px;
    }
}
@media (max-width: 740px){      /*Mobile*/
    #headerimp #header{
        top: 0;
        width: 100%;
        height: 46px;
        background-color: rgb(28, 1, 52);
        position: fixed;
        z-index: 1;
    }
    #header .menu_button{
        float: left;
        width: 46px;
        display: block;
        color: #fff;
        font-size: 24px;
        padding: 11px;
    }
    #header #menuwebs{
        display: none;
    }
    #header h4 {
        text-align: center;
    }
    #header .title_web_header a{
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 24px;
        font-weight: 500;
        padding: 5px;
        color: #f02874;
    }
    #header .title_web_header a::first-letter{
        font-size: 32px;
    }
    #header .search_button{
        color: #fff;
        float: right;
        font-size: 22px;
        padding: 12px;
        margin-top: -46px;
    }
    #subnavg{
        background-color: rgb(28, 1, 52);
        width: 100%;
        height: 36px;
        display: block;
        margin-top: 46px;
    }
    #subnavg .home_button{
        width: 28px;
        height: 28px;
        color: #393939;
        text-decoration: none;
        font-size: 20px;
        display: block;
        padding: 4px;
        background-color: #ccc;
        border-radius: 16px;
        position: absolute;
        margin: 3px 0 0 9px;
    }
    #subnavg .subnavg_list{
        position: absolute;
        margin-top: 8px;
        margin-left: 50px;
    }
    #subnavg .subnavg_list li{
       display: inline-block;
        color: #fff;
        padding: 1px;
        font-size: 15px;
    }
    #content{
        width: 100%;
        background-color: rgba(180, 180, 180, 0.737);
    }
    #content .address_content{
        height: 32px;
        width: 100%;
        padding-top: 12px;
        position: relative;
    }
    #content .address_button{
        position: absolute;
        color: #000;
        font-size: 16px;
        margin-top: -14px;
    }
    .address_content ul{
        margin-top: 8px;
        position: absolute;
    }
    .address_content ul li{
        display: inline-block;
    }
    .address_content .section_add {
        padding-left: 16px !important;
    }
    #content a{
        text-decoration: none;
        color: #000;
    }
    #content .news_time{
        color: rgba(0, 0, 0, 0.453);
        font-size: 0.8em;
        padding: 20px 0 14px 8px;
    }
    #content .title_content{
        font-size: 2em;
        padding: 0 8px 0 8px;
    }
    #content p{
        padding: 24px 8px 0 8px;
    }
    #content .img-1{
        display: block;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        margin-top: 32px;
    }
    #content .anh_minh_hoa{
        padding-top: 8px !important;
        font-size: 0.9em;
        font-style: italic;
    }
    #content .cre{
        display: inline-block;
        right: 0;
        font-style: italic;
        margin-left: 200px;
        font-size: 15px;
        padding-bottom: 24px;
    }
    #relative{
        padding: 4px 12px 12px 16px;
        width: 100%;
        height: auto;
        position: relative;
        background-color: rgba(177, 176, 177, 0.551);
        border: 3px #ccc solid;
    }
    #relative .rel-1{
        border: 2px #8a8888a0 solid;
        height: 200px;
        margin-top: 12px;
        position: relative;
        border-radius: 12px;
    }
    #relative img{
        width: auto;
        height: auto;
        max-width: 120px;
        max-height: 160px;
        border-top-left-radius: 12px;
    }
    #relative .rel-1 h5{
        display: inline-block;
        font-size: 17px;
        position: absolute;
        padding: 8px 12px 8px 8px;
    }
    #relative .rel-1 p{
        display: inline-block;
        position: absolute;
        bottom: 0;
        padding: 12px 12px 40px 8px;
        font-size: 15px;
        margin-top: 8px !important;
    }
    #relative .rel-1 i{
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 8px 2px 12px 12px;
    }

    #relative .rel-2{
        border: 2px #8a8888a0 solid;
        height: 200px;
        margin-top: 12px;
        position: relative;
        border-radius: 12px;
    }
    #relative .rel-2 h5{
        display: inline-block;
        font-size: 17px;
        position: absolute;
        padding: 8px 12px 8px 8px;
    }
    #relative .rel-2 p{
        display: inline-block;
        position: absolute;
        bottom: 0;
        padding: 8px 12px 40px 8px;
        font-size: 15px;
    }
    #relative .rel-2 i{
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 12px 2px 12px 12px;
    }
    
    #relative .rel-3{
        border: 2px #8a8888a0 solid;
        height: 200px;
        margin-top: 12px;
        position: relative;
        border-radius: 12px;
    }
    #relative .rel-3 h5{
        display: inline-block;
        font-size: 17px;
        position: absolute;
        padding: 8px 12px 8px 8px;
    }
    #relative .rel-3 p{
        display: inline-block;
        position: absolute;
        bottom: 0;
        padding: 8px 12px 40px 8px;
        font-size: 15px;
    }
    #relative .rel-3 i{
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 12px 2px 12px 12px;
    }
    #feedback{
        position: relative;
        width: 100%;
        height: auto;
        padding: 12px;
        background-color: rgba(177, 176, 177, 0.551);
    }
    .feedbackonl{
        margin-top: 12px;
        background-color: #21d3d9;
        font-size: 1.1rem;
        border-radius: 8px;
    }
    .feedback h4{
        margin-top: 12px;
    }
    .feedbackonl a{
        display: block;
        text-decoration: none;
        color: #4d0624;
        font-weight: 600;
        padding: 2px 4px 2px 4px;
    }
    
    #feedback button:active{
        background-color: violet;
    }
    #feedback .user-fb{
        display: block;
        font-size: 15px;
        border: 2px #a4a3a3c7 solid;
        border-radius: 12px;
        margin-top: 4px;
    }
    #feedback img{
        display: inline-block;
        width: 36px;
        height: 36px;
        border-radius: 256px;
        margin-top: 5px;
        margin-left: 4px;
    }
    #feedback p{
        padding-left: 46px;
        margin-top: -36px;
    }
    #footer{
        width: 100%;
        background-color: rgba(154, 154, 154, 0.704);
        text-align: center;
        padding-top: 24px;
        padding-bottom: 40px;
    }
    #footer h2{
        font-size: 20px;
    }
    #footer .title_footer{
        font-size: 15px;
    }
    #footer a{
        display: inline-block;
        text-decoration: none;
        color: #000;
        padding-top: 22px;
        padding-bottom: -12px;
    }
}
